# Cloud Credentials (local development)
AWS_ACCESS_KEY_ID=YOUR_ACCESS_KEY
AWS_SECRET_ACCESS_KEY=YOUR_SECRET_KEY

# Pipeline Environment Variables
DATABRICKS_HOST="https://<YOUR_WORKSPACE_HOST>"
DATABRICKS_TOKEN="<YOUR_PERSONAL_ACCESS_TOKEN>"
AIRFLOW_UID=50000
KAFKA_BROKER=localhost:9092
KONTUR_ACCESS_TOKEN=YOUR_ACCESS_TOKEN
